<h1>Artist List</h1>
<h1><%=link_to 'Albums', albums_path%></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Artists</th>
      <th> Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.twitter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Logout', logout_path, method: :delete %>
