<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @data_summary.data %>
</p>

<%= link_to 'Edit', edit_data_summary_path(@data_summary) %> |
<%= link_to 'Back', data_summaries_path %>
