<div class="jumbotron">
    <h1 class="display-4">Welcome to MySic App: Your personal music system</h1>
    <p class="lead">This is a Music Website to add and edit your favorites albums of the best artists in the world!</p>
    <hr class="my-4">
    <p> Stay connected with us by creating an account or login in an existing account</p>
</div>
<%=render "menu"%>
