<ul class="custom-nav nav nav-tabs">
  <li class= "active">
    <a href = "/welcome/index">Home</a>
  </li>
  <li>
    <a href="/album">Album</a>
  </li>
  <li>
    <a href="/artist_list">Artists</a>
  </li>
  <li class="dropdown pull-right">
    <a href ="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>>
    <ul class="dropdowns-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li class="divider">
      </li>
      <li>
        <a href="#">SEparated link</a>
      </li>
    </ul>
  </li>
</ul>